<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="databinding.Properties.Settings.kutuphaneConnectionString"
            connectionString="Data Source=DESKTOP-FLTS7QI\EBSQLSERVER;Initial Catalog=kutuphane;User ID=sa;Password=Nevu123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>